* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* APP */
.app {
  min-height: 100vh;
  padding: 24px 20px 180px;
  max-width: 520px;
  margin: 0 auto;
}

/* TÍTULO */
h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 32px;
}

/* PRODUTOS */
.produtos {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.produto {
  background: #fff;
  padding: 28px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.233);
}

.produto span {
  font-size: 28px;
  font-weight: bold;
}

.produto button {
  padding: 20px 32px;
  font-size: 22px;
  font-weight: bold;
  background: #ffbb00;
  color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.produto button:active {
  transform: scale(0.94);
}

/* CARRINHO */
h2 {
  font-size: 34px;
  text-align: center;
  margin: 56px 0 28px;
}

#carrinho {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#carrinho li {
  background: #fff;
  padding: 26px;
  border-radius: 22px;
  font-size: 26px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

/* RODAPÉ FIXO */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 -8px 30px rgba(0,0,0,0.2);
}

.footer-inner {
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#nomeCliente {
  width: 100%;
  padding: 26px;
  font-size: 26px;
  border-radius: 22px;
  border: 2px solid #ccc;
}

.btn-enviar {
  width: 100%;
  padding: 28px;
  font-size: 26px;
  font-weight: bold;
  background: #00c77a;
  color: #000;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.btn-enviar:active {
  transform: scale(0.96);
}
