* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;

  /* CENTRO REAL */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* APP CONTAINER (TELA CHEIA) */
body > * {
  width: 100%;
}

.app {
  width: 100%;
  height: 100%;
  max-width: 920px;     /* limite só em telas grandes */
  background: #f2f2f200;
  display: flex;
  flex-direction: column;
  justify-content: center; /* CENTRALIZA VERTICAL */
  padding: 24px;
}

/* TÍTULOS */
h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 32px;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin: 50px 0 24px;
}

/* PRODUTOS */
.produtos {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* CARD DO PRODUTO */
.produto {
  background: #ffffff;
  padding: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

/* NOME */
.produto span {
  font-size: 26px;
  font-weight: 700;
}

/* BOTÃO */
.produto button {
  padding: 18px 28px;
  font-size: 20px;
  font-weight: bold;
  background: #ffbb00;
  color: #000;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.produto button:active {
  transform: scale(0.94);
}

/* CARRINHO */
#carrinho {
  list-style: none;
  margin-top: 40px;
}

/* ITEM CARRINHO */
#carrinho li {
  background: #ffffff;
  padding: 22px;
  border-radius: 20px;
  margin-bottom: 18px;
  font-size: 24px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

/* INPUT NOME */
#nomeCliente {
  margin-top: 50px;
  padding: 24px;
  font-size: 24px;
  border-radius: 22px;
  border: 2px solid #ddd;
  width: 100%;
}

#nomeCliente:focus {
  border-color: #ffbb00;
}

.btn-enviar {
  margin-top: 20px;
  padding: 26px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  background: #00c77a;
  color: #000;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.btn-enviar:active {
  transform: scale(0.96);
}


/* REMOVE ESPAÇOS ESTRANHOS EM TELAS GRANDES */
@media (min-width: 600px) {
  body {
    background: #ddd;
  }

  .app {
    border-radius: 26px;
    height: auto;
    min-height: 95vh;
    box-shadow: 0 20px 60px rgba(0,0,0,0.25);
  }
}
