body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

.produto {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

#carrinho {
  list-style: none;
  padding: 0;
}
